
@{
    ViewData["Title"] = "تم التسجيل بنجاح";
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تأكيد التسجيل</title>
  <link rel="stylesheet" href="~/CSS/Styles.css">
    <link rel="stylesheet" href="~/CSS/Styles3.css">
    <link rel="icon" href="~/Images/ICO.png" type="image/png">
    <script src="~/Javascript/Functions.js"></script>
</head>
<body>
 <a href="~/Pages/Home.html">
        <img class="driverlogo" src="~/Images/ICO.png" alt="Logo">
    </a>
<header>
    <h2>تم التسجيل بنجاح!</h2>
</header>
    <main>
    <p>شكرًا لتسجيلك في تطبيقنا. يمكنك الآن تسجيل الدخول باستخدام معلومات حسابك الجديدة.</p>
    <a href="~/Profile.html">الحساب الشخصي</a>
    <!-- أو -->
    <a href="~/Home.html">الصفحة الرئيسية</a>
    </main>
<footer>
        <p dir="ltr">&copy; 2024 - جميع الحقوق محفوظة</p>
        |
        <a href="~/PrivacyPolicy/PrivacyPolicy.cshtml">سياسة الخصوصية</a>
        <a href="~/About/About.cshtml">من نحن</a>
        |
        <div class="social-links">
            <strong> تواصل معنا:</strong>
            <a href="mailto:info@example.com">
                <img src="~/Images/email.png" alt="Email Icon">
            </a>
            <a href="link_to_facebook_page">
                <img src="~/Images/facebook-icon.png" alt="Facebook Icon">
            </a>
            <a href="tel:+123456789">
                <img src="~/Images/phone-call.png" alt="Phone Icon">
            </a>
        </div>
    </footer>
</body>
</html>
