@{
    ViewData["Title"] = "تسجيل جديد";
}

<!DOCTYPE html>
<html lang="ar" dir="rtl" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل جديد</title>
    <link rel="stylesheet" href="~/CSS/Styles.css">
    <link rel="stylesheet" href="~/CSS/Styles3.css">
    <link rel="icon" href="~/Images/ICO.png" type="image/png">
    <script src="~/Javascript/Functions.js"></script>
</head>
<body>
    <a href="~/Pages/Home.html">
        <img class="driverlogo" src="~/Images/ICO.png" alt="Logo">
    </a>
    <main>
        <form class="signup-form" asp-controller="Signup" asp-action="Register" method="post">
            <h2>تسجيل جديد</h2>
            <input type="text" name="username" placeholder="اسم المستخدم" required="" style="width: 100%;">
            <input type="email" name="email" placeholder="البريد الإلكتروني" required="" style="width: 100%;">
            <input type="password" name="password" placeholder="كلمة المرور" required="" style="width: 100%;" id="password" oninput="checkPasswordStrength()" required>
            <div id="passwordStrength"></div>
            <input type="password" placeholder="تأكيد كلمة المرور" required="" style="width: 100%;" id="confirm-password">
            <p class="additional-statement">باستمرارك، فإنك توافق على شروط استخدام المتجر وإشعار الخصوصية.</p>
            <button type="submit">تسجيل جديد</button>
        </form>
        <div id="confirmation-modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>تأكيد الحساب</h2>
                <p>تم إرسال رمز التأكيد إلى بريدك الإلكتروني. الرجاء التحقق من بريدك وإدخال الرمز أدناه:</p>
                <input type="text" id="confirmation-code" placeholder="رمز التأكيد" required="" style="width: 100%;">
                <button onclick="submitConfirmationCode()">تأكيد</button>
            </div>
        </div>
    </main>

    <footer>
        <p dir="ltr">&copy; 2024 - جميع الحقوق محفوظة</p>
        |
        <a href="~/PrivacyPolicy/PrivacyPolicy.cshtml">سياسة الخصوصية</a>
        <a href="~/About/About.cshtml">من نحن</a>
        |
        <div class="social-links">
            <strong> تواصل معنا:</strong>
            <a href="mailto:info@example.com">
                <img src="~/Images/email.png" alt="Email Icon">
            </a>
            <a href="link_to_facebook_page">
                <img src="~/Images/facebook-icon.png" alt="Facebook Icon">
            </a>
            <a href="tel:+123456789">
                <img src="~/Images/phone-call.png" alt="Phone Icon">
            </a>
        </div>
    </footer>

</body>
</html>
