@{
    ViewData["Tilte"]="دفاتر";
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فئات المنتجات</title>
    <link rel="stylesheet" href="~/CSS/Styles.css">
    <link rel="icon" href="~/Images/ICO.png" type="image/png">
    <script src="~/Javascript/Functions.js"></script>
</head>

<body>
    <a href="front_home">
        <img class="logo" src="~/Images/logo.png" alt="logo">
    </a>
    <div class="logout-icon">
        <a onclick="logout()" id="logoutLink">
            <img src="~/Images/log-out.png" alt="Logout">
            <span id="logout-text"> تسجيل الخروج</span>
        </a>
    </div>

    <main>
        <ul class="tabs">
            <li class="tab" onclick="showContent('Regular-notebooks')">دفاتر عادية</li>
            <li class="tab" onclick="showContent('Wire-Notebooks')">دفاتر سلك</li>
            <li class="tab" onclick="showContent('Sketchbooks')">دفاتر رسم</li>
            <li class="tab" onclick="showContent('Graph-notebooks')"> دفاتر رسم بياني</li>
        </ul>
        <br>
        <div class="tab-content" id="Regular-notebooks" style="display: none;">
            <div class="product">
                <a href="#">
                    <img src="~/Images/hardcover.jpg" alt="">
                    <p>اسم المنتج 1</p>
                    <span>السعر: 4000 ل.س</span>
                </a>
            </div>
            <div class="product">
                <a href="#">
                    <img src="~/Images/notebooks.png" alt="">
                    <p>اسم المنتج 2</p>
                    <span>السعر: 2500 ل.س</span>
                </a>
            </div>

        </div>
        <div class="tab-content" id="Wire-Notebooks" style="display: none;">
            <div class="product">
                <a href="#">
                    <img src="~/Images/emnotes-open-black.jpg" alt=" ">
                    <p>اسم المنتج 1</p>
                    <span>السعر: 3500 ل.س</span>
                </a>
            </div>
            <div class="product">
                <a href="#">
                    <img src="~/Images/wirbbook.jpg" alt=" ">
                    <p>اسم المنتج 2</p>
                    <span>السعر: 3500 ل.س</span>
                </a>
            </div>
        </div>
        <div class="tab-content" id="Sketchbooks" style="display: none;">
            <div class="product">
                <a href="#">
                    <img src="~/Images/sketch.jpg" alt="  ">
                    <p>اسم المنتج 1</p>
                    <span>السعر: 3000 ل.س</span>
                </a>
            </div>
        </div>
        <div class="tab-content" id="Graph-notebooks" style="display: none;">
            <div class="product">
                <a href="#">
                    <img src="~/Images/grafh.jpg" alt="">
                    <p>اسم المنتج 1</p>
                    <span>السعر: 5000 ل.س</span>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <p dir="ltr">&copy; 2024 - جميع الحقوق محفوظة</p>
        |
        <a href="front_privacy_policy">سياسة الخصوصية</a>
     
        <a href="front_about">من نحن</a>
        |
        <div class="social-links">
            <strong>تواصل معنا:</strong>
            <a href="@(Url.Content("https://youtube.com/@-StationeryStore?si=XlmT8B-DREJrxxNw"))">
                <img src="~/Images/Youtube.png" alt="Youtube Icon">
            </a>

            <a href="https://www.facebook.com/profile.php?id=61558642717289&mibextid=ZbWKwL">
                <img src="~/Images/facebook-icon.png" alt="Facebook Icon">
            </a>

            <a href="https://web.whatsapp.com/">
                <img src="~/Images/phone-call.png" alt="Phone Icon">
            </a>

        </div>
    </footer>

</body>

</html>
