@{
    ViewData["Title"] ="أدوات هندسية";
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فئات المنتجات</title>
    <link rel="stylesheet" href="~/CSS/Styles.css">
    <link rel="icon" href="~/Images/ICO.png" type="image/png">
    <script src="~/Javascript/Functions.js"></script>
</head>

<body>
    <a href="front_home">
        <img class="logo" src="~/Images/logo.png" alt="logo">
    </a>
    <div class="logout-icon">
        <a onclick="logout()" id="logoutLink">
            <img src="~/Images/log-out.png" alt="Logout">
            <span id="logout-text"> تسجيل الخروج</span>
        </a>
    </div>

    <main>
        <ul class="tabs">
            <li class="tab" onclick="showContent('setdraw')">أدوات رسم هندسي</li>
            <li class="tab" onclick="showContent('santfic-calc')">آلالات حاسبة علمية</li>
        </ul>
        <br>
        <div class="tab-content" id="setdraw" style="display: none;">

            <div class="product">
                <a href="#">
                    <img src="~/Images/set-mabed.jpg" alt="">
                    <p>اسم المنتج 1</p>
                    <span>السعر: 15000 ل.س</span>
                </a>
            </div>
            <div class="product">
                <a href="#">
                    <img src="~/Images/set-calc.jpg" alt="">
                    <p>اسم المنتج 2</p>
                    <span>السعر: 5000 ل.س</span>
                </a>
            </div>
            <div class="product">
                <a href="#">
                    <img src="~/Images/ruler.png" alt="">
                    <p>اسم المنتج 3</p>
                    <span>السعر: 2700 ل.س</span>
                </a>
            </div>
            <div class="product">
                <a href="#">
                    <img src="~/Images/round.png" alt="">
                    <p>اسم المنتج 4</p>
                    <span>السعر: 5000 ل.س</span>
                </a>
            </div>
        </div>
        <div class="tab-content" id="santfic-calc" style="display: none;">

            <div class="product">
                <a href="#">
                    <img src="~/Images/santfic-calc.jpg" alt="">
                    <p>اسم المنتج 1</p>
                    <span>السعر: 75000 ل.س</span>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <p dir="ltr">&copy; 2024 - جميع الحقوق محفوظة</p>
        |
        <a href="front_privacy_policy">سياسة الخصوصية</a>
        <a href="front_about">من نحن</a>
        |
        <div class="social-links">
            <strong> تواصل معنا:</strong>
            <a href="mailto:info@example.com">
                <img src="~/Images/email.png" alt="Email Icon">
            </a>
            <a href="link_to_facebook_page">
                <img src="~/Images/facebook-icon.png" alt="Facebook Icon">
            </a>
            <a href="tel:+123456789">
                <img src="~/Images/phone-call.png" alt="Phone Icon">
            </a>
        </div>
    </footer>

</body>

</html>
