@{
    ViewData["Title"] ="أدوات هندسية";
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فئات المنتجات</title>
    <link rel="stylesheet" href="~/CSS/Styles.css">
    <link rel="icon" href="~/Images/ICO.png" type="image/png">
    <script src="~/Javascript/Functions.js"></script>
    <style>
        .tab-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            padding: 10px;
            justify-content: space-around;
            justify-content: space-around;
            color: black;
            transform: scale(1.05);
            box-sizing: border-box;
        }

            .tab-content a {
                text-decoration: none;
                color: #333;
                transition: background-color 0.3s, color 0.3s;
                border: 1px solid #ddd;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                background-color: #fff;
                transition: transform 0.3s ease-in-out;
            }

                .tab-content a img {
                    height: 210px;
                    width: auto;
                    border-bottom: 1px solid #ddd;
                    border-radius: 5px;
                }

                .tab-content a p {
                    margin: 10px 0;
                }


                .tab-content a:hover {
                    color: black;
                    transform: scale(1.05);
                }


        .product {
            text-decoration: none;
            color: #333;
            transition: background-color 0.3s, color 0.3s;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            background-color: #fff;
            transition: transform 0.3s ease-in-out;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ddd; /* Add a 1px solid border with a light gray color */
            border-radius: 8px; /* Add border radius for rounded corners */
            padding: 10px; /* Add some padding to create space between the border and content */
            margin-bottom: 20px; /* Add margin to create space between each product */
            transition: transform 0.3s ease-in-out; /* Add transition effect for smooth hover animation */
        }

            .product:hover {
                transform: scale(1.05); /* Scale up the product slightly on hover */
            }

    </style>
</head>

<body>
    <a href="front_home">
        <img class="logo" src="~/Images/logo.png" alt="logo">
    </a>
   

    <main>
        <ul class="tabs">
            <li class="tab" onclick="handleCategoryClick(18)">أدوات رسم هندسي</li>
            <li class="tab" onclick="handleCategoryClick(19)">آلالات حاسبة علمية</li>
        </ul>
        <br>
        <!-- Tab contents -->
        <div class="tab-content" id="setdraw" style="display: none;">
            <div id="product-list-setdraw"></div>
        </div>
        <div class="tab-content" id="santfic-calc" style="display: none;">
            <div id="product-list-santfic-calc"></div>
        </div>
    </main>

    <footer>
        <p dir="ltr">&copy; 2024 - جميع الحقوق محفوظة</p>
        |
        <a href="front_privacy_policy">سياسة الخصوصية</a>
    
        <a href="front_about">من نحن</a>
        |
        <div class="social-links">
            <strong>تواصل معنا:</strong>
            <a href="@(Url.Content("https://youtube.com/@-StationeryStore?si=XlmT8B-DREJrxxNw"))">
                <img src="~/Images/Youtube.png" alt="Youtube Icon">
            </a>

            <a href="https://www.facebook.com/profile.php?id=61558642717289&mibextid=ZbWKwL">
                <img src="~/Images/facebook-icon.png" alt="Facebook Icon">
            </a>

            <a href="https://web.whatsapp.com/">
                <img src="~/Images/phone-call.png" alt="Phone Icon">
            </a>

        </div>
    </footer>
    <script>

        // Function to fetch product data when a category is clicked
        function fetchProducts(subId, targetId) {
            fetch(`https://localhost:7214/api/Product/subId?subId=${subId}`, {
                method: 'GET',
                headers: {
                    'Accept': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // After receiving data, update the interface to display the products
                    updateProductList(data, targetId);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }

        // Function to handle click event on a category
        function handleCategoryClick(subId) {
            // Call the function to fetch product data based on subId
            switch (subId) {
                case 18:
                    fetchProducts(18, 'product-list-setdraw');
                    break;
                case 19:
                    fetchProducts(19, 'product-list-santfic-calc');
                    break;
                default:
                    break;
            }
        }

        // Function to update the product list based on received products
        function updateProductList(products, targetId) {
            const productList = document.getElementById(targetId);
            const tabContents = document.querySelectorAll('.tab-content');

            // Show all tab contents
            tabContents.forEach(tab => {
                tab.style.display = 'grid';
            });

            // Clear previous products
            productList.innerHTML = '';

            // Add each product to the product list
            products.forEach(product => {
                const productElement = document.createElement('div');
                productElement.classList.add('product');

                // Product images
                const productImages = document.createElement('div');
                productImages.classList.add('product-images');
                product.productAttributeQuantities.forEach(attribute => {
                    attribute.imageAttributes.forEach(image => {
                        const imageElement = document.createElement('img');
                        imageElement.src = image.url;
                        productImages.appendChild(imageElement);
                    });
                });

                // Product name
                const productName = document.createElement('p');
                productName.textContent = product.name;

                // Product price
                const productPrice = document.createElement('span');
                productPrice.textContent = `السعر: ${product.productAttributeQuantities[0].price} ل.س`; // Assuming the price is the same for all variants



                // Product link
                const productLink = document.createElement('a');
                productLink.href = `front_item?id=${product.id}`; // Set the href attribute to the product page URL with the product id
                productLink.textContent = 'تفاصيل المنتج'; // Text for the link

                // Append elements to product container
                productElement.appendChild(productName);
                productElement.appendChild(productPrice);
                productElement.appendChild(productImages);
                productElement.appendChild(productLink);

                // Append product container to product list
                productList.appendChild(productElement);
            });
        }
    </script>
</body>

</html>
