@{
    ViewData["Title"] = "عربة التسوق";
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عربة التسوق</title>
    <link rel="stylesheet" href="~/CSS/Styles.css">
    <link rel="icon" href="~/Images/ICO.png" type="image/png">
    <script src="~/Javascript/Functions.js"></script>
</head>

<body>
    <a href="front_home">
        <img class="logo" src="~/Images/logo.png" alt="logo">
    </a>
    <div class="logout-icon">
        <a onclick="logout()" id="logoutLink">
            <img src="~/Images/log-out.png" alt="Logout">
            <span id="logout-text"> تسجيل الخروج</span>
        </a>
    </div>
    <main>
        <section id="cart-container">
            <form class="cart-form">
                <h2>سلة التسوق</h2>
                <div class="empty-cart-message" id="empty-cart-message-cart">
                    <p>السلة لا تحوي منتجات</p>
                </div>
                <div class="login-alert" id="login-alert" style="display: none;">
                    <p>يجب عليك <a href="front_login">تسجيل الدخول</a> أولاً.</p>
                </div>
                <!-- Cart items will be dynamically added here -->
                <a href="#" class="remove-link" onclick="deleteCartItem(itemId)" style="display: none;">حذف</a>
                <div class="cart-total" id="cart-total" style="display: none;">
                    <p>إجمالي الفاتورة:  ل.س 0</p>
                </div>
                <br>
                <button class="checkout-btn" id="checkout-btn" style="display: none;">اتمام الشراء</button>
            </form>
        </section>

      @*   <section id="cart-container">
            <form class="cart-form">
                <h2>سلة التسوق</h2>
                <div class="empty-cart-message" id="empty-cart-message-cart">
                    <p>السلة لا تحوي منتجات</p>
                </div>
                <div class="login-alert" id="login-alert" style="display: none;">
                    <p>يجب عليك <a href="front_login">تسجيل الدخول</a> أولاً.</p>
                </div>
                <div class="cart-item">
                    <img src="~/Images/notepaper.png" alt="Product 1">
                    <div class="cart-item-details">
                        <h4>أوراق ملاحظات</h4>
                        <p class="item-price">السعر: ل.س 3000</p>
                        <label for="quantity1" class="quantity-label">الكمية:</label>
                        <select id="quantity1" onchange="return updateItemTotal(this);">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <span class="separator"></span>
                        <a href="#" class="save-for-later-link" onclick="saveForLater(this)">حفظ لوقت لاحق</a>
                        <span class="separator"></span>
                        <a href="#" class="remove-link" onclick="removeFromCart(this)">حذف</a>
                        <p class="item-total">المجموع: ل.س 6000 </p>
                    </div>
                </div>
                <div class="cart-item">
                    <img src="~/Images/colorpen.png" alt="Product 2">
                    <div class="cart-item-details">
                        <h4>أقلام تلوين</h4>
                        <p class="item-price">السعر:  ل.س 12000</p>
                        <label for="quantity2" class="quantity-label">الكمية:</label>
                        <select id="quantity2" onchange="return updateItemTotal(this);">
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <!-- Add more options as needed up to the max value -->
                        </select>
                        <span class="separator"></span>
                        <a href="#" class="save-for-later-link" onclick="saveForLater(this)">حفظ لوقت لاحق</a>
                        <span class="separator"></span>
                        <a href="#" class="remove-link" onclick="removeFromCart(this)">حذف</a>
                        <p class="item-total">المجموع:  ل.س 24000</p> <!-- Add this line -->
                    </div>
                </div>
                <div class="cart-total" id="cart-total">
                    <p>إجمالي الفاتورة:  ل.س 30000</p>
                </div>
                <br>
                <button class="checkout-btn" id="checkout-btn">اتمام الشراء</button>
                <div class="empty-cart-message" id="empty-cart-message" style="display: none;">
                    <p>السلة فارغة</p>
                </div>
            </form>
        </section> *@
       
    </main>

    <footer>
        <p dir="ltr">&copy; 2024 - جميع الحقوق محفوظة</p>
        |
        <a href="front_privacy_policy">سياسة الخصوصية</a>
       
        <a href="front_about">من نحن</a>
        |
        <div class="social-links">
            <strong>تواصل معنا:</strong>
            <a href="@(Url.Content("https://youtube.com/@-StationeryStore?si=XlmT8B-DREJrxxNw"))">
                <img src="~/Images/Youtube.png" alt="Youtube Icon">
            </a>

            <a href="https://www.facebook.com/profile.php?id=61558642717289&mibextid=ZbWKwL">
                <img src="~/Images/facebook-icon.png" alt="Facebook Icon">
            </a>

            <a href="https://web.whatsapp.com/">
                <img src="~/Images/phone-call.png" alt="Phone Icon">
            </a>

        </div>
    </footer>

    <script>
        const authToken = localStorage.getItem('authToken');
        const userId = localStorage.getItem('userId'); // Assuming you store the user ID in localStorage
        document.addEventListener('DOMContentLoaded', function () {
            checkLoginStatus();
        });

        function checkLoginStatus() {
            // تحقق مما إذا كان هناك رمز مميز مخزن في تخزين المتصفح المحلي
            const authToken = localStorage.getItem('authToken');

            // تحقق من وجود الرمز المميز
            const isLoggedIn = authToken !== null;

            if (!isLoggedIn) {
                // المستخدم غير مسجل الدخول، قم بتفريغ السلة وعرض الرسالة المناسبة
                clearCart();
                displayEmptyCartMessage();
            }
        }
        window.addEventListener('DOMContentLoaded', function () {
            fetchCartItems();
        });

        function fetchCartItems() {
            fetch('/api/Cart/myCart')
                .then(response => response.json())
                .then(data => {
                    const cartContainer = document.getElementById('cart-container');
                    const cartForm = cartContainer.querySelector('.cart-form');
                    const emptyCartMessage = cartContainer.querySelector('#empty-cart-message-cart');
                    const loginAlert = cartContainer.querySelector('#login-alert');
                    const removeLink = cartContainer.querySelector('.remove-link');
                    const cartTotal = cartContainer.querySelector('#cart-total');
                    const checkoutBtn = cartContainer.querySelector('#checkout-btn');

                    if (data.cartItems.length > 0) {
                        cartForm.innerHTML = '';

                        data.cartItems.forEach(item => {
                            const cartItemHtml = `
                                <div class="cart-item">
                                    <!-- Add cart item details here -->
                                    <a href="#" class="remove-link" onclick="deleteCartItem(${item.itemId})">حذف</a>
                                </div>
                            `;
                            cartForm.insertAdjacentHTML('beforeend', cartItemHtml);
                        });

                        cartTotal.querySelector('p').textContent = `إجمالي الفاتورة: ل.س ${data.totalPrice}`;
                        cartTotal.style.display = 'block';
                        checkoutBtn.style.display = 'block';
                        emptyCartMessage.style.display = 'none';
                        loginAlert.style.display = 'none';
                        removeLink.style.display = 'block'; // Display the remove link for each item
                    } else {
                        cartTotal.style.display = 'none';
                        checkoutBtn.style.display = 'none';
                        emptyCartMessage.style.display = 'block';
                        loginAlert.style.display = 'block';
                        removeLink.style.display = 'none'; // Hide the remove link when the cart is empty
                    }
                })
                .catch(error => console.error('Error fetching cart items:', error));
        }

       
        // Function to delete a cart item
        function deleteCartItem(itemId) {
            // Send DELETE request to backend API
            fetch(`/api/Cart/deleteItem/${itemId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + authToken
                }
            })
                .then(response => {
                    if (!response.ok) {
                        return response.text().then(errorMsg => Promise.reject(new Error(errorMsg)));
                    }
                    return response.text();
                })
                .then(result => {
                    // Item deleted successfully, fetch updated cart items
                    fetchCartItems();
                    alert(result);
                })
                .catch(error => {
                    alert(error.message);
                    console.error('Error deleting item from cart:', error);
                });
        }

        // Call fetchCartItems when the page loads to initially populate the cart
        window.addEventListener('load', fetchCartItems);
        // Add an event listener to the "Place Order" button
        document.getElementById('checkout-btn').addEventListener('click', placeOrder);

        // Function to handle placing an order
        function placeOrder() {
            fetch('/api/Order/placeOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + authToken
                },
                body: JSON.stringify({
                    // Pass any required data for the order here, such as addressId
                    addressId: '123' // Replace with the actual addressId
                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to place order');
                    }
                    return response.json();
                })
                .then(data => {
                    // Order placed successfully, redirect to the checkout page
                    window.location.href = 'front_checkout'; // Replace 'front_checkout' with the actual URL of the checkout page
                })
                .catch(error => {
                    console.error('Error placing order:', error);
                    alert('Failed to place order. Please try again.');
                });
        }



        function displayEmptyCartMessage() {
            // عرض رسالة السلة فارغة ورابط تسجيل الدخول
            var emptyCartMessage = document.getElementById('empty-cart-message-cart');
            if (emptyCartMessage) {
                emptyCartMessage.style.display = 'block';
            }

            var loginAlert = document.getElementById('login-alert');
            if (loginAlert) {
                loginAlert.style.display = 'block';
            }
        }
      

        function updateItemTotal(select) {
            var cartItem = select.closest('.cart-item');

            if (!cartItem) {
                console.error("Cart item not found.");
                return false;
            }

            var priceElement = cartItem.querySelector('.item-price');

            if (!priceElement) {
                console.error("Price element not found in the current cart item:", cartItem);
                return false;
            }

            var price = parseFloat(priceElement.textContent.replace('السعر: ل.س ', ''));
            var quantity = parseInt(select.value);
            var itemTotal = price * quantity;
            cartItem.querySelector('.item-total').textContent = 'المجموع: ل.س ' + itemTotal.toFixed(2);
            updateTotal();

            // Return false to prevent form submission
            return false;
        }

        function updateTotal() {
            var cartTotal = 0;
            var cartItems = document.querySelectorAll('.cart-item');

            cartItems.forEach(function (cartItem) {
                var priceElement = cartItem.querySelector('.item-price');
                var quantity = parseInt(cartItem.querySelector('select').value);

                if (priceElement) {
                    var price = parseFloat(priceElement.textContent.replace('السعر: $', ''));
                    cartTotal += price * quantity;
                }
            });

            var cartTotalElement = document.getElementById('cart-total');
            var checkoutBtn = document.getElementById('checkout-btn');
            var emptyCartMessage = document.getElementById('empty-cart-message');

            if (cartTotal > 0) {
                cartTotalElement.textContent = 'إجمالي الفاتورة: ل.س ' + cartTotal.toFixed(2);
                cartTotalElement.style.display = 'block';
                checkoutBtn.style.display = 'block'; // Show the checkout button
                emptyCartMessage.style.display = 'none';
            } else {
                cartTotalElement.style.display = 'none';
                checkoutBtn.style.display = 'none'; // Hide the checkout button
                emptyCartMessage.style.display = 'block';
            }

            // Update the cart item count variable
            cartItemCount = getCartItemCount();

            // Display the updated cart item count
            const cartItemCountElement = document.getElementById('cart-item-count');
            if (cartItemCountElement) {
                cartItemCountElement.textContent = cartItemCount;
            }
        }

       
        function logout() {
            // حذف الـ token من الجلسة
            localStorage.removeItem('authToken');

            // توجيه المستخدم إلى الصفحة الرئيسية أو أي صفحة أخرى
            window.location.href = "front_home";
        }
        // window.addEventListener('DOMContentLoaded', function () {
        //     fetchCartData();
        // });

        // function fetchCartData() {
        //     fetch('/api/Cart/myCart')
        //         .then(response => {
        //             if (!response.ok) {
        //                 throw new Error('Failed to fetch cart data');
        //             }
        //             return response.json();
        //         })
        //         .then(data => {
        //             updateCartUI(data);
        //         })
        //         .catch(error => {
        //             console.error('Error fetching cart data:', error);
        //         });
        // }

        // function updateCartUI(cartData) {
        //     const cartContainer = document.getElementById('cart-container');
        //     const cartForm = cartContainer.querySelector('.cart-form');

        //     // Check if the cart is empty
        //     if (cartData.cartItems.length === 0) {
        //         const emptyCartMessage = cartContainer.querySelector('#empty-cart-message');
        //         emptyCartMessage.style.display = 'block';
        //         cartForm.style.display = 'none';
        //     } else {
        //         const emptyCartMessageCart = cartContainer.querySelector('#empty-cart-message-cart');
        //         emptyCartMessageCart.style.display = 'none';
        //         const cartTotal = cartContainer.querySelector('#cart-total');
        //         const checkoutBtn = cartContainer.querySelector('#checkout-btn');
        //         const emptyCartMessage = cartContainer.querySelector('#empty-cart-message');
        //         const items = cartData.cartItems;
        //         let totalPrice = 0;

        //         // Clear previous cart items
        //         const existingCartItems = cartForm.querySelectorAll('.cart-item');
        //         existingCartItems.forEach(item => item.remove());

        //         // Add cart items to the UI
        //         items.forEach(item => {
        //             const cartItem = document.createElement('div');
        //             cartItem.classList.add('cart-item');
        //             // Construct the HTML for the cart item using item data
        //             // Append cart item to the form
        //             cartForm.insertBefore(cartItem, cartTotal);
        //             totalPrice += item.subPrice;
        //         });

        //         // Update total price
        //         cartTotal.querySelector('p').textContent = `إجمالي الفاتورة: ل.س ${totalPrice}`;

        //         // Show the cart form
        //         cartForm.style.display = 'block';
        //         // Hide the empty cart message
        //         emptyCartMessage.style.display = 'none';
        //     }
        // }
        // // Function to fetch cart items from the backend API
        // function fetchCartItems() {
        //     fetch('/api/Cart/myCart')
        //         .then(response => response.json())
        //         .then(data => {
        //             const cartContainer = document.getElementById('cart-container');
        //             const cartForm = cartContainer.querySelector('.cart-form');

        //             // Check if the cart has items
        //             if (data.cartItems.length > 0) {
        //                 // Clear any existing cart items
        //                 cartForm.innerHTML = '';

        //                 // Iterate over each cart item and create HTML for it
        //                 data.cartItems.forEach(item => {
        //                     const cartItemHtml = `
        //                         <div class="cart-item">
        //                             <!-- Add cart item details here -->
        //                             <a href="#" class="remove-link" onclick="deleteCartItem(${item.itemId})">حذف</a>
        //                         </div>
        //                     `;
        //                     // Append the cart item HTML to the cart form
        //                     cartForm.insertAdjacentHTML('beforeend', cartItemHtml);
        //                 });

        //                 // Update the total cart price
        //                 const cartTotal = cartContainer.querySelector('#cart-total p');
        //                 cartTotal.textContent = `إجمالي الفاتورة:  ل.س ${data.totalPrice}`;
        //             } else {
        //                 // Show empty cart message
        //                 const emptyCartMessage = cartContainer.querySelector('#empty-cart-message-cart');
        //                 emptyCartMessage.style.display = 'block';
        //             }
        //         })
        //         .catch(error => console.error('Error fetching cart items:', error));
        // }

    </script>

</body>

</html>
