@{
    ViewData["Title"] = "خدمة العملاء";
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خدمة العملاء</title>
    <link rel="stylesheet" href="~/CSS/Styles.css">
    <link rel="icon" href="~/Images/ICO.png" type="image/png">
    <script src="~/Javascript/Functions.js"></script>
</head>
<body>
    <a href="front_home">
        <img class="logo" src="~/Images/logo.png" alt="Logo">
    </a>
    <header>
        <h1>خدمة العملاء</h1>
    </header>
    <main>
        <form class="contact-form" onsubmit="submitForm(event)">
            <label for="username">اسم المستخدم:</label>
            <input type="text" id="username" disabled>
            <br>
            <label for="phoneNumber">رقم الهاتف:</label>
            <input type="text" id="phoneNumber" disabled>
            <br>
            <label for="inquiryType">نوع الاستفسار:</label>
            <select id="inquiryType" name="inquiryType" required>
                <option value="general">استفسار عام</option>
                <option value="complaint">شكوى</option>
            </select>
            <br>
            <label for="customerMessage">رسالتك:</label>
            <textarea id="customerMessage" name="customerMessage" rows="4" required></textarea>
            <br>
            <button type="submit">إرسال</button>
        </form>
    </main>
    <footer>
        <p dir="ltr">&copy; 2024 - جميع الحقوق محفوظة</p>
        |
        <a href="front_privacy_policy">سياسة الخصوصية</a>
      
        <a href="front_about">من نحن</a>
        |
        <div class="social-links">
            <strong>تواصل معنا:</strong>
            <a href="@(Url.Content("https://youtube.com/@-StationeryStore?si=XlmT8B-DREJrxxNw"))">
                <img src="~/Images/Youtube.png" alt="Youtube Icon">
            </a>

            <a href="https://www.facebook.com/profile.php?id=61558642717289&mibextid=ZbWKwL">
                <img src="~/Images/facebook-icon.png" alt="Facebook Icon">
            </a>

            <a href="https://web.whatsapp.com/">
                <img src="~/Images/phone-call.png" alt="Phone Icon">
            </a>

        </div>
    </footer>
    <script>
        var userInformation = {
            username: "اسم المستخدم الخاص بك",
            phoneNumber: "رقم الهاتف الخاص بك"
        };

        // جلب معلومات المستخدم وتعبئة حقول الإدخال
        document.getElementById("username").value = userInformation.username;
        document.getElementById("phoneNumber").value = userInformation.phoneNumber;
    </script>
</body>
</html>
